.notification_wrapper {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 5%;
  bottom: 0;
  right: 0;
  transform: translateY(-10vh);
}
.notification_text {
  background-color: #ff0952;
  width: 80%;
  height: 100%;
  border-radius: 0.2em;
  padding: 0.7em;
  margin: auto;
  color: #fcfeff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-left: 10px solid #fcfeff;
}
.fadeOut {
  opacity: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
@media only screen and (min-width: 600px) {
  .notification_text {
    width: 60%;
  }
  .notification_wrapper {
    transform: translateY(-5vh);
  }
}
@media only screen and (min-width: 1100px) {
  .notification_text {
    width: 40%;
  }
  .notification_wrapper {
    transform: translateY(-5vh);
  }
}
@media only screen and (min-width: 1500px) {
  .notification_text {
    width: 20%;
  }
  .notification_wrapper {
    transform: translateY(-5vh);
  }
}
