*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* fonts */
  --inter: "Inter", sans-serif;
  --openSans: "Open Sans", sans-serif;
  --roboto: "Roboto", sans-serif;
  /* colors */
  --dark-blue: #1e2128;
  --dark-red: #ff0952;
  --darker-red: #ff095386;
  --light: #fcfeff;
}
body {
  background-color: var(--dark-blue);
}

.container {
  display: block;
  width: 100%;
  height: 100%;
}
.wrapper {
  margin-top: 30%;
}
.title {
  color: var(--light);
  text-align: center;
  margin-bottom: 10%;
  font-family: var(--inter);
  font-weight: 600;
  font-size: 1.7em;
}
.sub-title {
  display: block;
  text-align: center;
  font-family: var(--roboto);
  color: var(--light);
  font-weight: 300;
  font-size: 1.25em;
}
.join-button {
  display: block;
  text-align: center;
  margin-top: 50%;
}
#join-now {
  width: 50%;
  height: 57px;
  outline: none;
  border: none;
  border-radius: 100px;
  background-color: var(--dark-red);
  box-shadow: 0px 2px 80px rgba(255, 9, 82, 0.25);
  transition: 200ms;
}
#join-now:hover {
  background-color: var(--darker-red);
  cursor: pointer;
  transition: 200ms;
}
#join-now span {
  color: var(--light);
  font-family: var(--roboto);
  text-shadow: 2px 2px 4px rgba(30, 33, 40, 0.5);
  font-weight: 500;
  font-size: 1.25em;
}
.logreg {
  margin-top: 30%;
}

.top {
  margin-top: 20%;
}
.credential-container {
  display: block;
  width: 100%;
  height: 100%;
}
.credential-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto 12% auto;
}
.credential-wrapper:first-child {
  margin-top: 20%;
}
.credential-input {
  display: block;
  width: inherit;
  height: fit-content;
  color: var(--light);
}
.credential-input input {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 0.375em;
  outline: none;
  border: none;
  padding: 1em;
  font-size: 1em;
  color: var(--dark-blue);
  font-family: var(--roboto);
  font-weight: 300;
  transition: 100ms;
}
.credential-input input:focus {
  outline: 2px solid var(--dark-red);
  transition: 100ms;
}
.credential-input label {
  display: inline-block;
  font-family: var(--roboto);
  font-weight: 300;
  margin-bottom: 0.3em;
}

.sign-register-link {
  display: inline-block;
  font-family: var(--roboto);
  font-weight: 300;
  margin-top: 0.7em;
  font-size: 0.8em;
}
.sign-register-link a:any-link {
  color: var(--dark-red);
}

#loading {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: var(--dark-red);
  transition: 200ms;
  animation: loading-animation 1.5s infinite;
  animation-fill-mode: both;
}
.loading-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes loading-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

.test {
  color: var(--light);
}

/* @TODO: responsive design for register */
@media only screen and (min-width: 700px) {
  .top {
    margin-top: 10%;
    margin-bottom: 0;
  }
  .credential-wrapper:first-child {
    margin-top: 10%;
  }
  .logreg {
    margin-top: 15%;
  }
  #join-now {
    width: 30%;
  }
  .join-button {
    margin-top: 35%;
  }
  .wrapper {
    margin-top: 20%;
  }
}
@media only screen and (min-width: 1100px) {
  .top {
    margin-top: 5%;
  }
  .credential-wrapper:first-child {
    margin-top: 5%;
  }
  .logreg {
    margin-top: 10%;
  }
  .credential-wrapper {
    width: 60%;
  }
  #join-now {
    width: 20%;
  }
  .join-button {
    margin-top: 15%;
  }
  .title {
    margin-bottom: 3%;
  }
}
@media only screen and (min-width: 1500px) {
  .credential-wrapper {
    margin-bottom: 5%;
  }
  .logreg {
    margin-top: 0;
  }
  #join-now {
    width: 10%;
  }
}
