*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* fonts */
  --inter: "Inter", sans-serif;
  --openSans: "Open Sans", sans-serif;
  --roboto: "Roboto", sans-serif;
  /* colors */
  --dark-blue: #1e2128;
  --dark-red: #ff0952;
  --darker-red: #ff095386;
  --light: #fcfeff;
}
body {
  background-color: var(--dark-blue);
}

.container {
  display: block;
  width: 100%;
  height: 100%;
}
.wrapper {
  margin-top: 50%;
}
.title {
  color: var(--light);
  text-align: center;
  margin-bottom: 10%;
  font-family: var(--inter);
  font-weight: 600;
  font-size: 1.7em;
}
.sub-title {
  display: block;
  text-align: center;
  font-family: var(--roboto);
  font-weight: 300;
  font-size: 1.25em;
}
.join-button {
  display: block;
  text-align: center;
  margin-top: 50%;
}
#join-now {
  width: 50%;
  height: 57px;
  outline: none;
  border: none;
  border-radius: 100px;
  background-color: var(--dark-red);
  box-shadow: 0px 2px 80px rgba(255, 9, 82, 0.25);
  transition: 200ms;
}
#join-now:hover {
  background-color: var(--darker-red);
  cursor: pointer;
  transition: 200ms;
}
#join-now span {
  color: var(--light);
  font-family: var(--roboto);
  text-shadow: 2px 2px 4px rgba(30, 33, 40, 0.5);
  font-weight: 500;
  font-size: 1.25em;
}
.logreg {
  margin-top: 30%;
}

.top {
  margin-top: 20%;
}
.credential-container {
  display: block;
  width: 100%;
  height: 100%;
}
.credential-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto 12% auto;
}
.credential-wrapper:first-child {
  margin-top: 20%;
}
.credential-input {
  display: block;
  width: inherit;
  height: fit-content;
  color: var(--light);
}
.credential-input input {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 0.375em;
  outline: none;
  border: none;
  padding: 1em;
  font-size: 1em;
  color: var(--dark-blue);
  font-family: var(--roboto);
  font-weight: 300;
  transition: 100ms;
}
.credential-input input:focus {
  outline: 2px solid var(--dark-red);
  transition: 100ms;
}
.credential-input label {
  display: inline-block;
  font-family: var(--roboto);
  font-weight: 300;
  margin-bottom: 0.3em;
}
